.borde{
  border-style: solid;
  border-width: 5px;
  border-color: #292929;
}
.borde:hover{
  border-color: #ffffff;
}

.contenedor{
  text-align: center;
  color: #8d8d8d;
}

.contenedor:hover{
  color: #ffffff;
  cursor: pointer;
}

